django>=4.2,<5.0
djangorestframework




markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt


#test and reformat
black
flake8
pytest
pytest-django
setuptools
faker




# background proccess
redis 
celery
django-celery-beat

